#page-content {
    display: flex;
    .container-info {
        background-color: #3e3e3e;
        margin: 15px;
        padding: 10px;
        border: none;
        box-shadow: 0px 8px 12px 6px #151515;
        border-radius: 6px;
    }
}