@import '../../variables';

nav#sidebar {
    background: $bg-sidebar;
    box-shadow: 5px 0 5px -2px rgb(22, 22, 22);
    position:absolute;
    left:0;
    bottom:0;
    height: calc(100vh - 40px);
    width:$sidebar-width;
    overflow:hidden;
    -webkit-transition:width .1s ease-in;
    transition:width .1s ease-in;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1;

    &:hover, &.expanded {
        width:$sidebar-expanded-width;
        overflow:visible;
    }

    &>ul {
        overflow:hidden;
        margin-top: 0px;
        padding-left: 0px;

        li:hover>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
            color:#fff;
            background-color:$blue;
        }

        li {
            position:relative;
            display:block;
            width:250px;

            &>a {
                height: 50px;
                cursor: pointer;
                position:relative;
                display:table;
                border-collapse:collapse;
                border-spacing:0;
                color:#999;
                font-size: 14px;
                text-decoration:none;
                -webkit-transform:translateZ(0) scale(1,1);
                -webkit-transition:all .1s linear;
                transition:all .1s linear;

                svg {
                    height: 100%;
                    padding: 0px 16px;
                }

                &.active {
                    border-left: solid $blue 2px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    &:hover svg {
                        stroke:currentColor;
                    }
                    svg {
                        stroke:$blue-light;
                        filter: drop-shadow( 0px 0px 8px rgba(236, 236, 236, 0.815));
                        padding-left: 14px;
                    }
                }
            }
        }
    }

    .nav-text {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        font-size: 1.1em;
        width: 100%;
    }

    &>ul.logout {
        position:absolute;
        left:0;
        bottom:0;
    }

    a:hover,a:focus {
        text-decoration:none;
    }

    nav {
        -webkit-user-select:none;
        user-select:none;
    }

    nav ul,nav li {
        outline:0;
        margin:0;
        padding:0;
    }
}

@keyframes scrollBackgroundY {
    from {
      background-position: 0 -80%;
    }
    to {
      background-position: 0 40%;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}