@use './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  font-family: 'Poiret One', sans-serif;
}

body {
    background: url("@assets/images/dark-texture.png") repeat;
    color: var(--offwhite);
}

// @use './variables.scss';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
}

.monospace, .monospace * {
  font-family: 'SF Mono', Monaco, Menlo, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 600px;
  min-height: 400px;
  height: 100%;
  overflow: hidden;
}

#sailor-desktop {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#content {
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  right: 0;
  bottom: var(--footer-height);
  height: calc(100% - var(--header-height) - var(--footer-height));
  width: calc(100% - var(--sidebar-width));
  overflow: auto;
}