:root {
    // Application
    --app-accent-color: #32639f;
    --offwhite: rgb(146, 146, 146);
    --blue: #34c0f7;
    --blue-light: #80dbff;
    --green: #248a3e;
    --dark-accent: #2f2f2f;

    --bg-header: var(--dark-accent);
    --bg-sidebar: var(--dark-accent);

    // –––– Header ––––
    --header-height: 40px;

    // –––– Sidebar ––––
    --sidebar-width: 52px;
    --sidebar-expanded-width: 220px;
}